<h2>新增類別</h2>

<%= simple_form_for  @cate, :url => dashboard_cates_path, method: :post do |f| %>

    <% if @cate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cate.errors.count, "error") %> prohibited this cate from being saved:</h2>

          <ul>
            <% @cate.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.input :name %>
    </div>

    <div class="text-center">
      <%= f.submit '新增類別', :class => 'btn btn-info' %> ｜
      <%= link_to '返回', dashboard_cates_path, class: 'btn btn-default' %>
    </div>
<% end %>