<h2>新增文章</h2>

<%= simple_form_for  @post, :url => dashboard_posts_path, method: :post do |f| %>

    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.input :title %>
      <%= f.input :tag_list %>
      <%= f.association :cate, prompt: "請選擇類別" %>
      <%= f.input :status, collection: [ ['草稿', 'draft'] ,['公開文章', 'published'] ], as: :select, prompt: "請選擇文章狀態" %>
      <%= f.input :body, as: :pagedown, input_html: { preview: true, rows: 10 } %>
    </div>

    <div class="text-center">
      <%= f.submit '新增文章', :class => 'btn btn-info' %> |
      <%= link_to '返回', dashboard_posts_path, class: 'btn btn-default' %>
    </div>
<% end %>

