%div{:id => 'post_content'}
  %h1.title
    = @post.title
  .blog-meta
    %span.date
      = @post.created_at.strftime("%B %d, %Y")
    \/
    %span.date
      = @post.cate.name
  %br
  %p.body
    .wmd-output
      :preserve
        #{sanitize(@post.body)}
  %hr
  .text-center
    = link_to '返回', posts_path, :class => 'btn btn-info'