<%= simple_form_for [:dashboard ,@trip, @event], remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
    <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
    <%= f.input_field :end, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
    <%= f.input :color, as: :select, collection: [['白','white'],
                                                  ['深藍','blue'],
                                                  ['天空藍','deepskyblue'],
                                                  ['亮紅','red'],
                                                  ['蘿蔔紅','coral'],
                                                  ['深綠','green'],
                                                  ['萊姆綠','limegreen']
    ]
    %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Delete',
                dashboard_trip_event_path(@trip, @event),
                method: :delete,
                class: 'btn btn-danger',
                data: { confirm: 'Are you sure?' },
                remote: true unless @event.new_record? %>
  </div>
<% end %>
