<div id="sidebar">
    <div id="logo">
        <a href="/assets/profile.jpg" target="_blank"><%= image_tag("profile.jpg") %></a>
    </div>
    <br>
    <br>

    <ul>
      <li class="category">Website</li>
      <li><%= link_to "關於我", root_path %></li>
      <li><%= link_to "文章", posts_path %></li>
    </ul>
    <ul>
      <li class="category">Social</li>
      <li><a href="https://github.com/misuchiru">Github</a></li>
      <!--<li><a href="mailto:perryhaha@gmail.com">Email</a></li>-->
    </ul>
      <% if current_user %>
        <ul>
          <li class="category">Manage</li>
          <li><%= link_to "文章管理", dashboard_posts_path %></li>
          <li><%= link_to "類別管理", dashboard_cates_path %></li>
          <li><%= link_to "回後台", dashboard_posts_path %></li>
        </ul>
      <% end %>
</div>