<h2>新增旅行</h2>

<%= simple_form_for  @trip, :url => dashboard_trips_path, method: :post do |f| %>

    <% if @trip.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

          <ul>
            <% @trip.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.input :name %>
      <%= f.input :date_range, input_html: { class: "form-control input-sm date-range-picker" } %>
      <%= f.input_field :start_date, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
      <%= f.input_field :end_date, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
      <%= f.input :img %>
      <%= f.input :description %>
    </div>

    <div class="text-center">
      <%= f.submit '新增旅行', :class => 'btn btn-info' %> ｜
      <%= link_to '返回', dashboard_trips_path, class: 'btn btn-default' %>
    </div>
<% end %>