<!DOCTYPE html>
<html>
  <head>
    <title>NihongoBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'common/siderMenu' %>
    <div id="main_content">
      <nav id="header"><h2><%=  link_to 'Perryの日文學習筆記', root_path %></h2></nav>
      <%= yield %>

      <%= will_paginate @paginate if @paginate %>
    </div>
  </body>
  <%= render 'common/googleAnalytics' %>
</html>
