<!DOCTYPE html>
<html>
  <head>
    <%= render_page_title_tag %>
    <%= render_page_description_meta_tag %>
    <%= favicon_link_tag(source='favicon.png', options={}) %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'common/siderMenu' %>
    <div id="main_content">
      <nav id="header"><h2><%=  link_to 'PerryHaHaの日語學習筆記', root_path %></h2></nav>
      <%= yield %>

      <%= will_paginate @paginate if @paginate %>
    </div>
  </body>
  <%= render 'common/googleAnalytics' %>
</html>
