<!DOCTYPE html>
<html>
<head>
  <title>PerryHaHaのBlog 後台管理</title>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render '/common/css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="dashboad-top">
  <%= render '/common/topNavbar' %>
  <section id="blog-full-width">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
          <div id='remote_container'></div>
          <div class="text-center">
            <%= will_paginate @paginate, renderer: BootstrapPagination::Rails if @paginate %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render '/common/js' %>
</body>
</html>
