<!DOCTYPE html>
<html>
<head>
  <title>NihongoBlog Dashboard</title>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= render 'common/css' %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="dashboad-top">
  <%= render 'common/topNavbar' %>
  <section id="blog-full-width">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
          <%= will_paginate @paginate if @paginate %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'common/js' %>
</body>
</html>
